@if(todo) {

<div (click)="onClick()" [class.opacity-0]="isSelcted"
  class="border relative p-3 rounded-lg cursor-pointer dark:border-brown hover:shadow-md dark:shadow-brown flex flex-col justify-start transition-all duration-200">
  <div>
    <p class="text-xl font-semibold mb-4">{{ todo.title }}</p>
    <p class="line-clamp-6 mb-6">{{ todo.content }}</p>
  </div>
  <div (click)="deleteTodo(todo.id)" class="flex items-center gap-4 absolute bottom-2 w-fit right-3">
    <i class="fa-solid fa-trash text-red-600"></i>
  </div>
</div>

}